// Readable 2.2.2
// Bootswatch
// -----------------------------------------------------


// TYPOGRAPHY
// -----------------------------------------------------

@import url('http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400, 400italic,700');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic');

// BODY
// -----------------------------------------------------
body {
  background: #f4f1ed url('../img/gray_jean.png') repeat;
}


// SCAFFOLDING
// -----------------------------------------------------

// NAVBAR
// -----------------------------------------------------

div.navbar {
  border-top: 2px solid @red;
  .navbar-inner {
    .border-radius(0px);
  }
}

div.subnav {
  .nav > li > a,
  .nav > .active > a,
  .nav > .active > a:hover {
    color: @textColor;
  }
  &-fixed {
    top: @navbarHeight;
  }

}

// HEADINGS
// -----------------------------------------------------
h1 {
font-size: 218%;
}

h2 {
font-size: 164%;
}

h3 {
font-size: 145%;
}

h4 {
font-size: 118%;
}

#content {
  h2:before {
    content: '§';
    margin-right: 5px;
  }
}


// BUTTONS
// -----------------------------------------------------

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

.hero-unit {
  h1, h2, h3, h4, h5, h6 {
    margin: 13px 0;
  }
}

#content-container {
  padding-top: 20px;
  padding-bottom: 20px;
}


// MEDIA QUERIES
// -----------------------------------------------------


// FOOTER
// -----------------------------------------------------
#footer {
  background: @grayDarker;
}
#footer ul {
  list-style: none;
  margin-top: 20px;
}
#footer ul > li {
  float: left;
  padding-left: 20px;
  a {
    color: @navbarInverseLinkColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    font-weight: 200;

    &:hover {
      color: @navbarInverseLinkColorHover;
      text-decoration: none;
    }
  }
}
#footer ul.copy > li {
  padding-left: 40px;
}

#footer ul.social {
  float: right;
}
@media (min-width: 768px) and (max-width: 979px) {
  #footer ul.copy > li {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  #footer {
    ul {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    ul.social {

    }

    ul.social, ul.copy {
      float: none;
    }
    ul.copy > li {
      padding-bottom: 15px;
      padding-left: 20px;
    }
  }
}
