.four.columns
  .about
    h3.title 
      | About Testacular
      span.line
    p 
      | Testacular aims to make your life as a developer better.
      | It's hard enough to write websites that run in all browsers
      | so we want to make it as easy as possible for you to test them.

.four.columns
  .tweets
    h3.title
      | Latest tweets
      span.line
    .tweet.query.footer
.four.columns
  .flickr
    h3.title
      | Flickr
      span.line
    ul#footer.thumbs
.four.columns
  .subscribe
    h3.title
      | Subscribe
      span.line
    p Subscribe to our google-group to receive updates.
.sixteen.columns
  hr.bottom
.eight.columns
  span.copyright
    | &copy; Copyright 2013 &nbsp;
    a(href='index.html') Testacular
    | . All Rights Reserved. by &nbsp;
    a(href='https://github.com/Dignifiedquire', data='Friedel Ziegelmayer', target='_blank')
      | Friedel Ziegelmayer
.eight.columns
  .social
    a(href='https://github.com/vojtajina/testacular/'
      data-tooltip='GitHub Repo')
      i.icon-github-alt.icon-large
    a(href='https://github.com/vojtajina/testacular/issues'
      data-tooltip='Issues')
      i.icon-beaker.icon-large
    a(href='http://twitter.com/TestacularJS'
      data-tooltip='@TestacularJS')
      i.icon-twitter.icon-large
    a(href='https://groups.google.com/forum/#!forum/testacular'
      data-tooltip='Mailing List')
      i.icon-envelope-alt.icon-large
