ul.copy
  li 
    a(href='https://github.com/vojtajina') Testacular by Vojta Jina
  li
    a(href='https://github.com/Dignifiedquire') Site by Friedel Ziegelmayer

ul.social
  li
    a(href='')
      i.icon-github-alt.icon-large
  li
    a(href='')
      i.icon-twitter.icon-large
  li
    a(href='')
      i.icon-envelope-alt.icon-large
