extends layout

block content
  #slider
    .container.clearfix
      .sixteen.columns
        .flex-container
          .flexslider
            ul.slides
              li
                a(href='http://www.youtube.com/watch?v=MVw8N3hTfCI&feature=player_embedded')
                  img(src='../assets/img/img/screencast.png', alt='Screencast')
                p.flex-caption
                  span Introductory Screencast 
                  | The spectacular quick start to Testacular.
              li
                a(href='http://www.youtube.com/watch?v=5mHjJ4xf_K0')
                  img(src='../assets/img/img/jseverywhere.png', alt='Screencast')
                p.flex-caption
                  span JS Everywhere 2012 Europe
                  | Watch Vojta Jína present Testacular at JS Everyhwhere.
  .container.clearfix
    #welcome
      .sixteen.columns
        .qoute
          .ten.columns.omega
            h2 Testacular
            p Spectacular Test Runner for JavaScript
          .five.columns.alpha
            a.link(href='https://github.com/testacular/testacular')
              i.icon-github-alt
              | &nbsp; View project on GitHub
    .services
      .sixteen.columns.bottom
        h2
          | Getting Started
          span.line

      ul
        li.seven.columns
          .icon-box
            i.icon-hdd.icon-2x
          h3 Installation
          p
            | Be sure to read the getting started guide, which is a
            | complete guide to integrate Testacular into your
            | project.
          p
            | Install using 
            code npm install -g testacular

        li.seven.columns.offset-by-two
          .icon-box
            i.icon-github-alt.icon-2x
          h3 Latest GitHub commits
          p#github-commits

      .clearfix

    .sixteen.columns.bottom
      h2
        | Why?
        span.line
    .sixteen.columns.bottom
      p
        | We rely on testing a lot and we struggled with test runners,
        | so we created our own one that fits our needs and is designed to
        | give developers the best possible workflow.
        
    .services.clearfix
      .sixteen.columns
        h2.title 
          | Why Testacular?
          span.line
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-group.icon-4x
          h3
            a(href='') Open Source
          p 
            | Developed for and maintained by the open source community at GitHub. 

      .eight.columns
        .item
          .square
            a(href='')
              i.icon-resize-small.icon-4x
          h3
            a(href='') Remote Control
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-mobile-phone.icon-4x
          h3
            a(href='') Test on Real Devices
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-refresh.icon-4x
          h3
            a(href='') Continous Integration
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-magic.icon-4x
          h3
            a(href='') Easy Debugging
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-globe.icon-4x
          h3
            a(href='') Mocha, QUnit &amp; Jasmine Adapters
          p 
            | Developed for and maintained by the open source community at GitHub. 

