extends layout

block content
  .container.clearfix
    #welcome
      .sixteen.columns
        .welcome
          p
            span.color Testacular
            |  - Spectacular Test Runner for JavaScript

    .services
      .sixteen.columns.bottom
        h2
          | Getting Started
          span.line

      ul
        li.seven.columns
          .icon-box
            i.icon-hdd.icon-2x
          h3 Installation
          p
            | Be sure to read the getting started guide, which is a
            | complete guide to integrate into testacular your
            | project.
            br
            | Install using 
            code npm install -g testacular

        li.seven.columns.offset-by-two
          .icon-box
            i.icon-github-alt.icon-2x
          h3 Latest GitHub commits
          p#github-commits

      .clearfix

    .sixteen.columns.bottom
      h2
        | About Testacular
        span.line
    .sixteen.columns.bottom
      p
        | Testacular aims to make your life as a developer better.
        | It's hard enough to write websites that run in all browsers
        | so we want to make it as easy as possible for you to test them.
        
    .services.clearfix
      .sixteen.columns
        h2.title 
          | Why Testacular?
          span.line
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-group.icon-4x
          h3
            a(href='') Open Source
          p 
            | Developed for and maintained by the open source community at GitHub. 

      .eight.columns
        .item
          .square
            a(href='')
              i.icon-resize-small.icon-4x
          h3
            a(href='') Remote Control
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-mobile-phone.icon-4x
          h3
            a(href='') Test on Real Devices
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-refresh.icon-4x
          h3
            a(href='') Continous Integration
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-magic.icon-4x
          h3
            a(href='') Easy Debugging
          p 
            | Developed for and maintained by the open source community at GitHub. 
      .eight.columns
        .item
          .square
            a(href='')
              i.icon-globe.icon-4x
          h3
            a(href='') Mocha, QUnit &amp; Jasmine Adapters
          p 
            | Developed for and maintained by the open source community at GitHub. 

// .container
// ader.jumbotron.masthead
// h1= pageTitle
// p Making your life easier 
//   i since 2011
// p.download-info
//   span.btn-large.fake-btn.npm-install 
//     i.icon-hdd
//     | &nbsp; npm -g install testacular
//   a.btn.btn-primary.btn-large(href='https://github.com/vojtajina/testacular/')
//     i.icon-github-alt
//     | &nbsp; View on GitHub

// arketing
// h1 Designed for quick development.
// p.marketing-byline 
//   | Relying on the best ones - 
//   a(href='http://nodejs.org/') Node.js 
//   | &amp; &nbsp;
//   a(href='http://socket.io/') Socket.io.
// .row
//   .span4
//     h2 
//       i.icon-group
//       | &nbsp; Open Source
//     p 
//       | Developed for and maintained by open source community at GitHub. 
//       | Feel free to fork the repository and send us a pull request with
//       | some cool improvements.
//   .span4
//     h2
//       i.icon-resize-small
//       | &nbsp; Remote Control
//     p
//       | Control the whole workflow from the command line or your 
//       | favourite IDE. Just save a file and Testacular will run all the tests.
//   .span4
//     h2
//       i.icon-mobile-phone
//       | &nbsp; Test on Real Devices
//     p
//             | Test your code on real browsers and real devices such as phones, 
//             | tablets or headless PhantomJS.
//       .row
//         .span4
//           h2 
//             i.icon-magic
//             | &nbsp; Easy Debugging
//           p Easy debugging directly from your IDE (WebStorm).
//         .span4
//           h2
//             i.icon-globe
//             | &nbsp; Jasmine, Mocha &amp; QUnit
//           p
//             | Testacular is framework agnostic. However it ships with 
//             | adapters for Jasmine, Mocha, QUnit as well as AngularJS's
//             | scenario runner.
//         .span4
//           h2
//             i.icon-refresh
//             | &nbsp; Continuous Integration
//           p Simple integration with Jenkins or Travis.
