extends layout

block content
  
  .container
    header.jumbotron.masthead
      h1= pageTitle
      p Making your life easier 
        i since 2011
      p.download-info
        span.btn-large.fake-btn.npm-install 
          i.icon-hdd
          | &nbsp; npm -g install testacular
        a.btn.btn-primary.btn-large(href='https://github.com/vojtajina/testacular/')
          i.icon-github-alt
          | &nbsp; View on GitHub
    hr
    .marketing
      h1 Designed for quick development.
      p.marketing-byline 
        | Relying on the best ones - 
        a(href='http://nodejs.org/') Node.js 
        | &amp; &nbsp;
        a(href='http://socket.io/') Socket.io.
      .row
        .span4
          h2 
            i.icon-group
            | &nbsp; Open Source
          p 
            | Developed for and maintained by open source community at GitHub. 
            | Feel free to fork the repository and send us a pull request with
            | some cool improvements.
        .span4
          h2
            i.icon-resize-small
            | &nbsp; Remote Control
          p
            | Control the whole workflow from the command line or your 
            | favourite IDE. Just save a file and Testacular will run all the tests.
        .span4
          h2
            i.icon-mobile-phone
            | &nbsp; Test on Real Devices
          p
            | Test your code on real browsers and real devices such as phones, 
            | tablets or headless PhantomJS.
      .row
        .span4
          h2 
            i.icon-magic
            | &nbsp; Easy Debugging
          p Easy debugging directly from your IDE (WebStorm).
        .span4
          h2
            i.icon-globe
            | &nbsp; Jasmine, Mocha &amp; QUnit
          p
            | Testacular is framework agnostic. However it ships with 
            | adapters for Jasmine, Mocha, QUnit as well as AngularJS's
            | scenario runner.
        .span4
          h2
            i.icon-refresh
            | &nbsp; Test on Real Devices
          p Simple integration with Jenkins or Travis.
