include lib

!!! 5
html(lang='en')
  head
    include head
  body
    #wrap
      .navbar.navbar-inverse.navbar-static-top
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='index.html')= title 
            .nav-collapse.collapse
              mixin navigation(fileList)
              mixin versionDropdown(versions, currentVersion)

      block content
        #content-container.container
          .row
            .span3
              mixin sidebar(toh)
            .span9
              h1= pageTitle
              #content!= content
      #push
    #footer
      block footer
        .container
           include footer
  
    // Placed at the end of the document so the pages load faster 
    include scripts
