include lib

!!! 5
include html
  head
    include head
  body
    #wrap.boxed
      header
        .container.clearfix
          .one-third.column
            .logo
              a(href='index.html')
                img(src='../assets/img/logo.png', alt='Testacular')
          .two-thirds.column
            nav#menu.navigation
              ul#nav
                mixin navigation(metadata.section)
                mixin versionDropdown(versions, currentVersion)
          .sixteen.columns
            hr

      block content
        .container.clearfix
          .sixteen.columns
            h1.page-title
              = pageTitle
              span.line
          .page-columns
            #markdown.sixteen.columns.bottom
              != content
      footer
        .container
          block footer
            .four.columns
              .about
                h3.title 
                  | About Us
                  span.line
                p 
                  | Consectetur adipiscing elit aeneane lorem lipsum,
                  | condimentum ultrices consequat eu, vehicula mauris lipsum
                  | adipiscing lipsum aenean orci lorem Asequat. 
            .four.columns
              .tweets
                h3.title
                  | Latest tweets
                  span.line
                .tweet.query.footer
            .four.columns
              .flickr
                h3.title
                  | Flickr
                  span.line
                ul#footer.thumbs
            .four.columns
              .subscribe
                h3.title
                  | Subscribe
                  span.line
                p Subscribe to our google-group to receive updates.
            .sixteen.columns
              hr.bottom
            .eight.columns
              span.copyright
                | &copy; Copyright 2013 &nbsp;
                a(href='index.html') Testacular
                | . All Rights Reserved. by &nbsp;
                a(href='https://github.com/Dignifiedquire', data='Friedel Ziegelmayer', target='_blank')
                  | Friedel Ziegelmayer
            .eight.columns
              .social
                a(href='#')
                  img(src='../assets/img/icons/twitter.png', alt='@TestacularJS')

    // Placed at the end of the document so the pages load faster 
    include scripts
