- var sections = ['intro', 'config', 'plus', 'dev', 'about'];

mixin navigation(currentSection)
  for section in sections
    li
      - var active = section === currentSection ? 'active' : '';
      a(href='#{section}.html', class='#{active}')= section
      ul
        each heading in fileList[section]
          unless heading.name == section
            li
              a(href='#{heading.name}.html')
                = heading.name.replace(/_/g, ' ')

mixin versionDropdown(versions, active)
  li
    a(href='')= 'v' + active
    ul
      each version in versions
        li
          a(href='../#{version}/index.html')= 'v' + version


