mixin sidebar(toh)
  .well.sidebar-nav
    ul.nav.nav-list
      li.nav-header= pageTitle
        each heading in toh
          if heading.rank === 2
            li
              a(href='#{heading.link}')= heading.name


mixin navigation(dirs)
  ul.nav
    each files, dir in dirs
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          = dir
          b.caret
        ul.dropdown-menu
          each file in files
            li
              a(href='#{file.link}')= file.name
        

mixin versionDropdown(versions, active)
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        = 'v' + active
        b.caret
      ul.dropdown-menu
        each version in versions
          - var active = version === active ? 'active' : '';
          li
            a(href='../#{version}/index.html')= version


