// jQuery library
script(src="../assets/js/jquery-1.7.2.min.js")
// jQuery Easing
script(src="../assets/js/jquery.easing.1.3.min.js")
// jQuery Ui.min.js
script(src="../assets/js/jquery-ui.min.js")
// jQuery cookie
script(src="../assets/js/jquery.cookie.js")
// jQuery Uniform
script(src="../assets/js/jquery.uniform.min.js")
// Nav Menu ddsmoothmenuin.js"
script(src="../assets/js/ddsmoothmenu.js")
// Flex Slider 
script(src="../assets/js/jquery.flexslider.js")
// Elastic Slider 
script(src="../assets/js/jquery.eislideshow.js")
// Sliding Text and Icon Menu Style
script(src="../assets/js/jquery.iconmenu.js")
// Colortip Tooltip Plugin 
script(src="../assets/js/colortip.js")
// ugin tytabs 
script(src="../assets/js/tytabs.js")
// jQuery Carousel /script
script(src="../assets/js/carousel.js")
// jQuery Prettyphoto 
script(src="../assets/js/jquery.prettyPhoto.js")
// Isotope Filtering 
script(src="../assets/js/jquery.isotope.min.js")
// Responsive Navigation Menu by SelectNave
script(src="../assets/js/selectnav.js")
// Isotope Filtering
script(src="../assets/js/jquery.ui.totop.js")
//  file for javascript in html
script(src="../assets/js/custom.js")
// jQuery Tweetsipt
script(src="../assets/js/jquery.tweet.js")
// jQuery Flickr
script(src="../assets/js/jflickrfeed.min.js")
// jQuery Tweets Options
script(src="../assets/js/twitter-flickr-options.js")

// github commits
script(src='http://gitlive.com/githublive.min.js')
script
  var GithubPush = {num_old:5,nodes:['dignifiedquire/testacular']};
